@font-face {
    font-family: PPMonument;
    src: url(/font/PPMONUMENTEXTENDED-REGULAR.OTF);
  }

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "PPMonument";
}

html, body {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    mix-blend-mode: difference;
    color:white;
    margin-top: 1rem;
    font-size: 3rem;
}

section div{
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.fa {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    height: fit-content;
    width: fit-content;
    color:black;
    cursor: pointer;
}

.fa-angle-right {
    right: 30px;
}

.fa-angle-left {
    left: 30px;
}

.nav {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 30px;
}